log/*
.log
.buildpath
.project
.settings/
config.neon
*.komodoproject
.komodotools/
.idea
*.log
php_errors

/vendor/


# Ignore all modules except the defaults
modules/*
!modules/Auth
!modules/ChannelAdmin
!modules/ChannelManager
!modules/CommandParser
!modules/CoreCommands
!modules/Dev
!modules/Help
!modules/Watchdog