connections:
    freenode:
        server: irc.freenode.net
        port: 6697
        secure: true
        nick: MyBot
        user: MyBot
        realname: A WildPHP Bot

        # Not required to be set, can be used with e.g. ZNC servers.
        password:
        
        # You can set additional connection options here.
        # Please see https://github.com/reactphp/socket#connector for more details.
        #options:
        #   dns: false

# Prefix used for command parsing.
prefix: '!'
owner: 'SomeIRCAccountName'

alternativeNicknames:
    - SomeNickname
    - AnotherNickname

# One of debug, info, warning, error
# It is recommended to leave this in debug for now as the other modes barely show information.
loglevel: debug

channels:
	- '#somechannel'

#sasl:
#    username: Username
#    password: 'myS3cretP@ssword'