# This is the bot configuration file.
# It uses neon (http://ne-on.org/) syntax.
# You can use tabs or spaces for indentation.
# Strings with special characters need to be in single (') or double (") quotes.

# IRC server connection details
server: irc.freenode.org
port: 6667
password: ''
nick: phpbot
name: phpbot
nickserv: NickServ

# General bot settings
timezone: America/New_York
max_reconnects: 1
prefix: '!'

channels:
	- '#wildphp'

log:
	file: log
	dir: ./logs
	filter:
		- '#wildphp'

# Load and configure the bot commands
commands:
	Command\Say:
	Command\Weather:
		yahooKey: a
	Command\Joke:
	Command\Ip:
	Command\Imdb:
	Command\Poke:
	Command\Topic:
	Command\Join:
	Command\Part:
	Command\Timeout:
	Command\Quit:
	Command\Restart:
	Command\Help:
	Command\Update:
	Command\Version:
	Command\Raw:
	Command\Note:
	Command\Remind:

# Load and configure listeners
listeners:
	Listener\Joins:
	Listener\Youtube:

# Set up the 'masters' of the bot here using 'ident@hostmask' syntax
hosts:
	- ~notident@example.com
	- idented@example.net
