# This is the bot configuration file.
# It uses neon (http://ne-on.org/) syntax.
# You can use tabs or spaces for indentation.
# Strings with special characters need to be in single (') or double (") quotes.

# The server to connect to. Do not append port numbers.
server: irc.freenode.org

# The port number to use.
port: 6667

# Use a secure (SSL) connection?
secure: false

# The nickname to use when connecting.
# Every character allowed, except spaces, newlines and the at (@) symbol.
nick: WildPHP-Bot

# The ident to use for the bot.
name: WildPHP-Bot

# The command prefix to use.
# Default: '!'
prefix: '!'