<?xml version="1.0"?>
<!--
  ~ Copyright 2019 The WildPHP Team
  ~
  ~ You should have received a copy of the MIT license with the project.
  ~ See the LICENSE file for more information.
  -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" bootstrap="vendor/autoload.php">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src/</directory>
    </include>
    <report>
      <clover outputFile="/tmp/coverage.xml"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="irc-bot-testsuite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <logging/>
</phpunit>
